# 禁用 Qualcomm/Atheros Wi-Fi 驱动 (NSS / ATH / QCA-NSS)
# CONFIG_PACKAGE_kmod-ath is not set
# CONFIG_PACKAGE_kmod-ath10k is not set
# CONFIG_PACKAGE_kmod-ath11k is not set
# CONFIG_PACKAGE_kmod-ath11k-ct is not set
# CONFIG_PACKAGE_kmod-qca-wifi is not set

# 禁用无线管理和 AP 工具
# CONFIG_PACKAGE_hostapd is not set
# CONFIG_PACKAGE_hostapd-common is not set
# CONFIG_PACKAGE_wpad is not set
# CONFIG_PACKAGE_wpad-basic-mbedtls is not set
# CONFIG_PACKAGE_wpad-openssl is not set
# CONFIG_PACKAGE_iw is not set
# CONFIG_PACKAGE_wireless-regdb is not set

# 禁用 NSS 中与 无线 (Wi-Fi/WBT) 相关的卸载模块 (减少编译体积与内存占用)
# CONFIG_PACKAGE_kmod-qca-nss-drv-wifi-meshmgr is not set
# CONFIG_PACKAGE_kmod-qca-nss-macsec is not set
